<div class="container">
	<div class="card">
		<div class="card-body p-4">
			<h5 class="p-4 text-center mb-0">
                <i class="fa-solid fa-right-to-bracket me-3"></i>Iniciar Sesion
            </h5>

			<form class="row g-3" [formGroup]="loginForm" (ngSubmit)="login()">
				<div class="col-12">
					<div class="input-group">
						<span class="input-group-text">
							<i class="fa-solid fa-envelope"></i>
						</span>
						<input placeholder="Correo electrónico"  class="form-control" id="email" type="email" formControlName="email" />

					</div>
				</div>
				<div class="col-12">
					<input placeholder="Contraseña" class="form-control border-0 border-bottom" id="password" type="password" formControlName="password" />
				</div>
				<div class="col-12">
					<input placeholder="Código" class="form-control" id="code" type="text" formControlName="code" />
				</div>

				<div class="col-12 text-center">
					<button type="submit" class="btn btn-custom custom-button" [disabled]="loading || loginForm.invalid">
						<i class="fa-solid fa-plus me-2"></i>Iniciar Sesión
					</button>
				</div>

				<div class="col-12 text-center">
					<button type="button" class="btn btn-custom custom-button" (click)="sendCode()" [disabled]="loading || !loginForm.get('email')?.valid">
						<i class="fa-solid fa-plus me-2"></i>Enviar código
					</button>
				</div>
			</form>
		</div>
	</div>
		@if (errorMsg) {
			<div class="error">{{ errorMsg }}</div>
		}
		@if (codeSent) {
			<div class="success">Código enviado al correo.</div>
		}
</div>
