<div class="body-container">
    <div class="modal-overlay">
        <div class="modal-container">
            <div class="modal-content">
                <h2 class="modal-title">Crear producto</h2>
                <form class="product-form" [formGroup]="productForm" (ngSubmit)="createProducto()">
                    <div class="form-group">
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-input"
                            formControlName="nombre">
                    </div>

                    <div class="form-group">
                        <input type="text" id="descripcion" name="descripcion" placeholder="Descripcion"
                            class="form-input" formControlName="descripcion">
                    </div>

                    <div class="form-group">
                        <input type="number" id="precio" name="precio" placeholder="Precio" class="form-input"
                            formControlName="precio">
                    </div>

                    <div class="form-group">
                        <input type="number" id="stock" name="stock" placeholder="Stock" class="form-input"
                            formControlName="stock">
                    </div>

                    <div class="form-group">
                        <input type="number" id="stockMinimo" name="stockMinimo" placeholder="Stock minimo"
                            class="form-input" formControlName="stockMinimo">
                    </div>

                    <div class="form-group">
                        <select class="form-select" formControlName="categoriaId">
                            <option value="" disabled selected>Seleccione la categoría</option>
                            @for (item of categorias; track $index) {
                            <option value={{item.id}}>{{ item.nombre }}</option>
                            }
                        </select>
                    </div>

                    <div class="modal-actions">
                        <button type="button" class="btn btn-cancel" (click)="cancel()">
                            Cancelar
                        </button>
                        <button class="btn btn-create" type="submit">
                            Crear
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>