<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Cómputo - Sistema de Gestión</title>
    <link rel="stylesheet" href="./styles/menu.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo-section">
                <div class="logo-container">
                    <div class="logo-icon">
                        <img src="./images/logo.png" alt="Logo de Mundo Cómputo" class="logo-image">
                    </div>
                </div>
            </div>

            <div class="system-title">
                <h2>Sistema de Gestión</h2>
            </div>

            <nav class="navigation">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#">
                            <div class="icon-container">
                                <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M20,9 L20,19 C20,20.1045695 19.1045695,21 18,21 L6,21 C4.8954305,21 4,20.1045695 4,19 L4,9 C2.8954305,9 2,8.1045695 2,7 L2,5 C2,3.8954305 2.8954305,3 4,3 L20,3 C21.1045695,3 22,3.8954305 22,5 L22,7 C22,8.1045695 21.1045695,9 20,9 Z M6,9 L6,19 L18,19 L18,9 L6,9 Z M9,12 L9,10 L15,10 L15,12 L9,12 Z M4,5 L4,7 L20,7 L20,5 L4,5 Z"/>
                                </svg>
                            </div>
                            <span>Inventario</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <div class="icon-container">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 10H7C9 10 10 9 10 7V5C10 3 9 2 7 2H5C3 2 2 3 2 5V7C2 9 3 10 5 10Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M17 10H19C21 10 22 9 22 7V5C22 3 21 2 19 2H17C15 2 14 3 14 5V7C14 9 15 10 17 10Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M17 22H19C21 22 22 21 22 19V17C22 15 21 14 19 14H17C15 14 14 15 14 17V19C14 21 15 22 17 22Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M5 22H7C9 22 10 21 10 19V17C10 15 9 14 7 14H5C3 14 2 15 2 17V19C2 21 3 22 5 22Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <span>Categorías</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <div class="icon-container">
                                <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 3C3.44772 3 3 3.44772 3 4C3 4.55228 3.44772 5 4 5H5C5.50065 5 5.91537 5.36792 5.98854 5.84813L6.26745 10.3118C6.43211 12.947 8.61737 15 11.2577 15H16C18.7614 15 21 12.7614 21 10C21 7.23858 18.7614 5 16 5H7.82929C7.41746 3.83481 6.30622 3 5 3H4ZM8.26356 10.1871L8.06442 7H16C17.6568 7 19 8.34315 19 10C19 11.6569 17.6568 13 16 13H11.2577C9.67351 13 8.36235 11.7682 8.26356 10.1871Z"/>
                                    <path d="M12 19C12 20.1046 11.1046 21 10 21C8.89543 21 8 20.1046 8 19C8 17.8954 8.89543 17 10 17C11.1046 17 12 17.8954 12 19Z"/>
                                    <path d="M16 21C17.1046 21 18 20.1046 18 19C18 17.8954 17.1046 17 16 17C14.8954 17 14 17.8954 14 19C14 20.1046 14.8954 21 16 21Z"/>
                                </svg>
                            </div>
                            <span>Ventas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <div class="icon-container">
                                <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M48,244.8l126-126c0.7-0.7,1.4-1.5,2.1-2.3c20.3,6.8,43.6,2.1,59.8-14.1c17.5-17.5,21.6-43.3,12.2-64.7l-38.5,38.5l-30.2-30.2l38.5-38.5c-21.4-9.3-47.2-5.2-64.7,12.2c-16.2,16.2-20.9,39.5-14.1,59.8c-0.8,0.6-1.6,1.3-2.3,2.1l-126,126c-10.2,10.2-10.2,27,0,37.2l0,0C21,255,37.7,255,48,244.8z" fill="currentColor"/>
                                </svg>
                            </div>
                            <span>Reparaciones</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <div class="icon-container">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9,15h6a5,5,0,0,1,5,5v0a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1v0a5,5,0,0,1,5-5Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                    <circle cx="12" cy="7" r="4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                </svg>
                            </div>
                            <span>Clientes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <div class="icon-container">
                                <svg viewBox="0 0 24 24">
                                    <path d="M10 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM4 8a6 6 0 1 1 12 0A6 6 0 0 1 4 8zm12.828-4.243a1 1 0 0 1 1.415 0 6 6 0 0 1 0 8.486 1 1 0 1 1-1.415-1.415 4 4 0 0 0 0-5.656 1 1 0 0 1 0-1.415zm.702 13a1 1 0 0 1 1.212-.727c1.328.332 2.169 1.18 2.652 2.148.468.935.606 1.98.606 2.822a1 1 0 1 1-2 0c0-.657-.112-1.363-.394-1.928-.267-.533-.677-.934-1.349-1.102a1 1 0 0 1-.727-1.212zM6.5 18C5.24 18 4 19.213 4 21a1 1 0 1 1-2 0c0-2.632 1.893-5 4.5-5h7c2.607 0 4.5 2.368 4.5 5a1 1 0 1 1-2 0c0-1.787-1.24-3-2.5-3h-7z" fill="currentColor"/>
                                </svg>
                            </div>
                            <span>Usuarios</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="bottom-section">
                <a href="#" class="settings-link">
                    <div class="icon-container">
                        <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.9,12.66a1,1,0,0,1,0-1.32L21.18,9.9a1,1,0,0,0,.12-1.17l-2-3.46a1,1,0,0,0-1.07-.48l-1.88.38a1,1,0,0,1-1.15-.66l-.61-1.83A1,1,0,0,0,13.64,2h-4a1,1,0,0,0-1,.68L8.08,4.51a1,1,0,0,1-1.15.66L5,4.79A1,1,0,0,0,4,5.27L2,8.73A1,1,0,0,0,2.1,9.9l1.27,1.44a1,1,0,0,1,0,1.32L2.1,14.1A1,1,0,0,0,2,15.27l2,3.46a1,1,0,0,0,1.07.48l1.88-.38a1,1,0,0,1,1.15.66l.61,1.83a1,1,0,0,0,1,.68h4a1,1,0,0,0,.95-.68l.61-1.83a1,1,0,0,1,1.15-.66l1.88.38a1,1,0,0,0,1.07-.48l2-3.46a1,1,0,0,0-.12-1.17ZM18.41,14l.8.9-1.28,2.22-1.18-.24a3,3,0,0,0-3.45,2L12.92,20H10.36L10,18.86a3,3,0,0,0-3.45-2l-1.18.24L4.07,14.89l.8-.9a3,3,0,0,0,0-4l-.8-.9L5.35,6.89l1.18.24a3,3,0,0,0,3.45-2L10.36,4h2.56l.38,1.14a3,3,0,0,0,3.45,2l1.18-.24,1.28,2.22-.8.9A3,3,0,0,0,18.41,14ZM11.64,8a4,4,0,1,0,4,4A4,4,0,0,0,11.64,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,11.64,14Z"/>
                        </svg>
                    </div>
                    <span>Configuración</span>
                </a>
                <button class="logout-button">
                    <div class="icon-container">
                        <svg fill= "currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.75,17.5a.75.75,0,0,1,0-1.5h8.8A1.363,1.363,0,0,0,16,14.75v-12A1.363,1.363,0,0,0,14.55,1.5H5.75a.75.75,0,0,1,0-1.5h8.8A2.853,2.853,0,0,1,17.5,2.75v12A2.853,2.853,0,0,1,14.55,17.5ZM7.22,13.28a.75.75,0,0,1,0-1.061L9.939,9.5H.75A.75.75,0,0,1,.75,8H9.94L7.22,5.28A.75.75,0,0,1,8.28,4.22l4,4,.013.013.005.006.007.008.007.008,0,.005.008.009,0,0,.008.01,0,0,.008.011,0,0,.008.011,0,0,.008.011,0,0,.007.011,0,.005.006.01,0,.007,0,.008,0,.009,0,.006.006.011,0,0,.008.015h0a.751.751,0,0,1-.157.878L8.28,13.28a.75.75,0,0,1-1.06,0Z" transform="translate(3.25 3.25)"/>
                        </svg>
                    </div>
                    <span>Cerrar Sesión</span>
                </button>
            </div>
        </div>
    </div>
</body>
</html>
